* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background: black;
}

canvas#game {
    border: 1px solid rgba(255, 255, 255, .33);
    margin: 0 auto;
    background: black;
}

.container {
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50% - 150px);
    margin: 0 auto;
    text-align: center;
}

.options {
    position: absolute;
    margin: 0.5rem;
    color: #aaa;
    right: 0.5rem;
    top: 0.5rem;
}
